@using System.Security.Claims
@attribute [Authorize(Roles = "Admin")]
@attribute [Route(Routes.AdminSettings)]

@inject IClientHttpRepository _clientRepository
@inject AuthenticationStateProvider _authStateProvider

<h1>Admin Settings</h1>

@if (_authState is not null)
{
	<span>@($"{_authState.User?.FindFirst(ClaimTypes.Name)?.Value}"), you are an authorized admin :)</span>
}

@code {
	private AuthenticationState? _authState;

	protected override async Task OnInitializedAsync()
	{
		_authState = await _authStateProvider.GetAuthenticationStateAsync();
	}
}