@attribute [Route(Routes.Login)]

<h1>Login</h1>

<ul>
	<li><a href="https://localhost:40000/account/login/Google">Login with Google</a></li>
	<li><a href="https://localhost:40000/account/login/Keycloak">Login with Keycloak</a></li>
</ul>